<%= form_for(@soupdejour) do |f| %>
  <% if @soupdejour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soupdejour.errors.count, "error") %> prohibited this soupdejour from being saved:</h2>

      <ul>
      <% @soupdejour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sname %><br />
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label :sdate %><br />
    <%= f.date_select :sdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
