<p id="notice"><%= notice %></p>

<p>
  <b>Sname:</b>
  <%= @soupdejour.sname %>
</p>

<p>
  <b>Sdate:</b>
  <%= @soupdejour.sdate %>
</p>


<%= link_to 'Edit', edit_soupdejour_path(@soupdejour) %> |
<%= link_to 'Back', soupdejours_path %>
