As a customer, I want to see my loyalty points in my account profile.
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.useremail %>
</p>

<p>
  <b>Points earned:</b>
  <%= @user.points_earned %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
