<p id="notice"><%= notice %></p>

<p>
  <b>Delivery date:</b>
  <%= @order.delivery_date %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>
<p>
  <b>Detail:</b>
  <%= @order.addr %>
</p>
<p>
  <b>Detail:</b>
  <%= @order.detail %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
